.multi-step-form-option-list {
  .step {
    &:not(:last-child) {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        top: calc(2.5rem / 2);
        left: 100%;
        height: 2px;
        width: 5rem;
        background-color: #bebebe;
      }
    }
    &.active {
      &:after {
        background-color: #1447e6;
      }
      .icon-container {
        background-color: #1447e6;
        color: #fff;
      }
      .label-text {
        color: #1447e6;
      }
    }
  }
}

.form-container {
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}
