@if (calendarService.getWeeks$ | async; as weeks) {
  <header
    class="calendar-header pb-[1.25rem] flex items-center gap-[1.2rem] lg:gap-[2.5rem] flex-wrap"
  >
    @if (calendarService.currentDate$ | async; as currentDate) {
      <h2 class="current-date text-[1.8rem] md:text-[2.8rem] font-bold text-slate-800">
        {{ currentDate | date: 'MMMM y' }}
      </h2>
    }

    <div class="date-controller inline-flex items-center [&>*]:cursor-pointer">
      <button
        type="button"
        class="w-[3.5rem] aspect-square flex items-center justify-center bg-white rounded-l-md border-y border-l border-slate-300"
        (click)="calendarService.gotoPrev()"
      >
        <lucide-angular [img]="chevronLeft" />
      </button>
      <button
        type="button"
        class="bg-white h-[3.5rem] border border-slate-300 flex items-center justify-center text-[1.5rem] px-[1.2rem]"
        (click)="calendarService.gotoToday()"
      >
        Today
      </button>
      <button
        type="button"
        class="w-[3.5rem] aspect-square flex items-center justify-center bg-white rounded-r-md border-y border-r border-slate-300"
        (click)="calendarService.gotoNext()"
      >
        <lucide-angular [img]="chevronRight" />
      </button>
    </div>
    <div class="form-group relative isolate bg-white">
      <input
        class="date-input z-2 border border-slate-300 p-[0.5rem_1.2rem] cursor-pointer"
        type="month"
        name="month"
        id="month"
        [formControl]="calendarService.currentMonthFormControl"
        (change)="calendarService.changeMonth($event, weeks.week !== null)"
      />
      <span
        class="icon-container w-[2rem] aspect-square flex items-center justify-center absolute top-[50%] transform-[translateY(-50%)] right-[0.8rem] z-1"
      >
        <lucide-angular class="w-full aspect-square text-slate-800" [img]="calendar" />
      </span>
    </div>
    <div
      class="view-controller inline-flex items-center text-[1.5rem] md:ml-auto [&>*]:cursor-pointer"
    >
      @if (calendarService.viewChange$ | async; as change) {
        @if (change.view == 'week') {
          <h3 class="week-number text-[1.6rem] lg:text-[2.4rem] mr-[1.5rem] font-medium">
            @if (weeks.week == 1) {
              First Week
            } @else if (weeks.week == calendarService.totalWeeks) {
              Last Week
            } @else {
              Week {{ weeks.week }}
            }
          </h3>
        }

        <button
          type="button"
          class="bg-white border-y border-l border-slate-300 p-[0.5rem_1.2rem] rounded-l-md"
          [class]="change.view == 'day' ? 'bg-blue-600! text-white' : ''"
          (click)="calendarService.changeCalendarView('day')"
        >
          Day
        </button>
        <button
          type="button"
          class="bg-white border border-slate-300 p-[0.5rem_1.2rem]"
          [class]="change.view == 'week' ? 'bg-blue-600! text-white' : ''"
          (click)="calendarService.changeCalendarView('week')"
        >
          Week
        </button>
        <button
          type="button"
          class="bg-white border-y border-r border-slate-300 p-[0.5rem_1.2rem] rounded-r-md"
          [class]="change.view == 'month' ? 'bg-blue-600! text-white' : ''"
          (click)="calendarService.changeCalendarView('month')"
        >
          Month
        </button>
      }
    </div>
  </header>
  <article
    class="calendar-container bg-white border-slate-300 border rounded-xl flex flex-col max-h-[calc(100%-5.5rem)] overflow-x-auto"
  >
    <div
      class="day-names grid bg-slate-50 border-b border-slate-300 sticky top-0"
      [class]="weeks.week !== null ? 'grid-cols-[repeat(8,1fr)]' : 'grid-cols-[repeat(7,1fr)]'"
    >
      @if (weeks.week !== null) {
        <div class="inner flex border-r border-slate-300 min-w-[6.5rem] lg:min-w-[12.15rem]"></div>
      }
      @for (day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']; track $index) {
        <div class="inner flex flex-col items-center">
          <div
            class="day-name text-center py-[1.2rem] font-medium"
            [class]="
              weeks.week !== null && !weeks.group[weeks.week - 1][$index].is_current
                ? 'pb-0 text-slate-400'
                : weeks.week !== null
                  ? 'pb-0'
                  : ''
            "
          >
            {{ day }}
          </div>
          @if (weeks.week !== null) {
            <div class="week pb-[1rem] min-w-[4.222rem]">
              <h2
                class="text-[2rem] font-semibold aspect-square px-[1rem] flex items-center justify-center rounded-full"
                [ngClass]="{
                  'bg-blue-600 text-white': calendarService.checkDateForToday(
                    weeks.group[weeks.week - 1][$index].fullDate
                  ),
                  'text-slate-400': !weeks.group[weeks.week - 1][$index].is_current,
                }"
              >
                {{ weeks.group[weeks.week - 1][$index].dayIndex }}
              </h2>
            </div>
          }
        </div>
      }
    </div>
    <div class="calendar-body grow overflow-y-auto">
      @if (weeks.week == null) {
        @for (week of weeks.group; track $index + 1) {
          <div
            class="week grid grid-cols-[repeat(7,calc(100%/7))] [&:not(:first-child)]:border-t [&:not(:first-child)]:border-slate-300 [&:last-child]:border-b border-slate-300"
          >
            @for (day of week; track $index + 2) {
              <div
                class="day flex flex-col gap-[0.5rem] p-[1.2rem]"
                [ngClass]="{
                  'border-2 border-blue-600 bg-blue-200': calendarService.checkDateForToday(
                    day.fullDate
                  ),
                  '[&:not(:last-child)]:border-r [&:not(:last-child)]:border-slate-300':
                    !calendarService.checkDateForToday(day.fullDate),
                  'bg-slate-100 text-slate-500': !day.is_current,
                }"
              >
                <div class="day-index font-medium">
                  {{ day.dayIndex }}
                </div>
                <ul class="event-list flex flex-col gap-[0.45rem]">
                  @for (event of eventService.sortedEvents(); track event!.id) {
                    @if (event && event.date == day.fullDate) {
                      <li class="event-detail p-[0.5rem] bg-blue-200 rounded-xl">
                        <h2 class="text-[1.4rem] leading-6">{{event.name}}</h2>
                      </li>
                    }
                  }
                </ul>
              </div>
            }
          </div>
        }
      } @else {
        <div
          class="week grid grid-cols-[repeat(8,1fr)] auto-rows-[calc(100%/16)] [&:not(:first-child)]:border-t [&:not(:first-child)]:border-slate-300 border-b border-slate-300 w-full"
        >
          @for (hour of hourList; track hour) {
            <div
              class="hour aspect-video min-w-[6.5rem] lg:min-w-[12.15rem] p-[1.2rem] border-r border-slate-300 border-b font-medium text-right col-[1] relative"
              [class]="`row-[${$index + 1}]`"
            >
              {{ hour }}
            </div>

            @for (event of eventService.sortedEvents(); track $index) {
              @if (
                event !== null &&
                checkEventInCurrentWeek(weeks.group[weeks.week - 1], event) !== -1 &&
                event.start_time == hour
              ) {
                <div
                  class="event-day p-[0.5rem] min-w-[4.222rem] lg:min-w-[12.15rem] border border-slate-300"
                  [style]="
                    `grid-column: ${checkEventInCurrentWeek(weeks.group[weeks.week - 1], event)}; 
                     grid-row: ${getEventTimeSpan(event)}
                    `
                  "
                  [style.--line-length]="
                    checkEventInCurrentWeek(weeks.group[weeks.week - 1], event)
                  "
                >
                  <div class="inner bg-blue-100 h-full p-[1.2rem] flex flex-col gap-[1.5rem]">
                    <h2 class="text-[1.5rem] font-semibold wrap-break-word">{{ event.name }}</h2>
                    <p class="text-[1.2rem]">({{ event.start_time }} - {{ event.end_time }})</p>
                  </div>
                </div>
              }
            }
          }
        </div>
      }
    </div>
  </article>
}
