.progress-bar{
    display: grid;
    place-items: center;
    --size: min(25rem, 90%);
    --bar-width: 4rem;
    width: var(--size);
    aspect-ratio: 1 / 1;
    background-image: conic-gradient(#155dfc 85%, #cad5e2 0% );
    border-radius: 50%;
    position: relative;
    isolation: isolate;

    &:after{
        content: '';
        position: absolute;
        border-radius: inherit;
        width: calc(100% - var(--bar-width));
        aspect-ratio: 1 / 1;
        display: grid;
        z-index: -1;
        background-color: #fff;
    }
}