.freeze{
    position: fixed!important;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.491);
        z-index: 40;
    }
}