/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  padding-inline: 1.5rem;
}

@media screen and (min-width: 990px){
  .wrapper{
    padding-inline: 2.5rem;
  }
}

.table {
  thead {
    tr {
      background-color: #f0f0f0;
    }
    th {
      text-transform: uppercase;
      color: #2e2e2e;
    }
  }
  tr {
    th,
    td {
      padding: 1.5rem;
    }
  }
  th {
    text-align: left;
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f1f1f1;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #dddddd;
      }
    }
  }
}

.date-input {
  position: relative;
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
